In [4]:
num = [1,23,5,6,"list"]     #comment for a singel line
print(num)
"""comment for a 
              multiline"""

[1, 23, 5, 6, 'list']

'comment for a \n              multiline'

In [14]:
#indentation is so important in python

for i in range(0,4):
  print(i) #here indentaion is used to show that this statement comes under the loop

0
1
2
3

In [17]:
#id is an identity for each variable which will be unique and no repetetions occur
a=10
print(id(a))

#declarations
a=b=c=3       #all a,b,c will be equal to 3
d=e=f=4,5,6    # d,e,f will acts as list           
g,h,i=7,8,9     #g=7 h=8 i=9  
print(a,b,c,d,e,f,g,h,i)

94283018287904
3 3 3 (4, 5, 6) (4, 5, 6) (4, 5, 6) 7 8 9

In [21]:
#global and local variables

a = 10
b=5
def hi():
  global a
  a=11       #here a permanently becomes 11
  b=6         #where as b becomes 6 only in function
  print("in funtion:",a,b)

hi()
print("Outside funtion:",a,b)

in funtion: 11 6
Outside funtion: 11 5

In [67]:
str_ = 'halle luaha' 
print(str_[:])
print(str_[::])
first_word = str_[:5]
print("First word:",first_word) 
second_word = str_[6:-1] 
print("second word:",second_word)


#slicing strings using the function slice
#syntax:   slice(a,b,c).  a=start b=end c=step
word_1= slice(0,5,1)
word_2 = slice(6,10,1)
print("word 1:",str_[word_1])
print("word 2:",str_[word_2])




#reversing the string
reverse_1 = str_[::-1] 
print("reverse without slice:",reverse_1)
reverse_2 = str_[-1:0:-1]
print("reverse with slice:",reverse_2)


#getting a sub string from a given string
sub_1 = slice(4) #here as we have given only four it takes 0 as default starting position and 1 as default step size
# slice(4) = slice(0,4,1)
print("sub string:",str_[sub_1])
#the command slice can also be used to both lists and tuples

halle luaha
halle luaha
First word: halle
second word: luah
word 1: halle
word 2: luah
reverse without slice: ahaul ellah
reverse with slice: ahaul ella
sub string: hall

In [71]:
#list
list_1 = [1,3,5,'hi']
#strings
str_1 = "I love IIIT Dharwad"
#sets
set_1 = {12,42,3} # here [] doesnt works as they are unordered in nature
#dictionary 
dictionary_1 = {0 : 'zero' , 1 : 'one' , 'two' : 2}
print(dictionary_1['two'])

2

In [74]:
#explicit conversions
print("Explicit conversions:")
two = "2"
print("two type:",type(two),"value:",two)
two = int(two)
print("two type:",type(two),"value:",two)

#implicit conversions
print("Implicit conversions:")
one = "1"
print("one type:",type(one),"value:",one)
one = 1
print("one type:",type(one),"value:",one)

Explicit conversions:
two type: <class 'str'> value: 2
two type: <class 'int'> value: 2
Implicit conversions:
one type: <class 'str'> value: 1
one type: <class 'int'> value: 1

In [91]:
x = 30
y = 10
print("x =",x)
print("y =",y)

#Arthimetic Operators
print("Arthimetic Operators:")
print("x + y =",x+y)
print("x - y =",x-y)
print("x * y =",x*y)
print("x / y =",x/y)
print("x ^ y =",x**y)

#Comparision Operators
print("Comparision Operators:")
print("x > y =",x>y)
print("x == y =",x==y)
print("x < y =",x<y)
print("x >= y =",x>=y)
print("x <= y =",x<=y)
print("x != y =",x!=y)

#Logical Operators
a,b = True,False
print("Logical Operators")
print("a:",a)
print("b:",b)
print("a and b:",a and b)
print("a or b:",a or b)
print("not b:",not b)

#bitwise operators
print("Bitwise Operators:")
print("x & y :",x&y)
print("x^y :",x^y)
print("x<<3 :",x<<3)
print("y>>1 :",y>>1)

#Membership Operators
print("Membership Operators:")
str_ = "Halle luya"
print('luya' in str_)

x = 30
y = 10
Arthimetic Operators:
x + y = 40
x - y = 20
x * y = 300
x / y = 3.0
x ^ y = 590490000000000
Comparision Operators:
x > y = True
x == y = False
x < y = False
x >= y = True
x <= y = False
x != y = True
Logical Operators
a: True
b: False
a and b: False
a or b: True
not b: True
Bitwise Operators:
x & y : 10
x^y : 20
x<<3 : 240
y>>1 : 5
Membership Operators:
True

In [104]:
#if loop
x = 12
if x == 10:
  print("X is 10")
elif x==11:
  print("X is 11")
else:
  print("We don't know the value of the X")

#range function and for loop
x = range(0,10,2) #start = 0 step = 2 end = 10. x=[0,2,4,6,8]
for i in x:
  print(i)
#we can directly use range function in for loop
for i in range(0,10,2):
  print(i)

#we can also break the loops using break command

for i in range(12,30,2):
  if (i % 5 == 0):
    print("Answer is",i)
    break
# i = 20
while i < 50:
  i += i/2
  print("i:",i)

We don't know the value of the X
0
2
4
6
8
0
2
4
6
8
Answer is 20
i: 30.0
i: 45.0
i: 67.5

In [105]:
#if you have a function or loop or anything which haven't implemented yet but you want to implement it in future we use the command called 'pass'
for i in range(0,2,1):
  pass

def hi():
  pass